
/* Import Biföst Tokens */
@import url("../../../../node_modules/@bifrost-ds/bifrosttokens/build/web/css/variables.css");


.button {
    /* ! Using Bifröst Tokens CSS format */
    /* Bacgkorund Color */
    background-color: var(--bt-component-button-primary-background-color);
    /* Text */
    color: var(--bt-component-button-primary-text-color);
    font-size: var(--bt-component-button-primary-font-size);
    /* Border  */
    border-color: var(--bt-component-button-primary-border-color);
    border-radius: var(--bt-component-button-primary-border-radius);
    border-width: var(--bt-component-button-primary-border-width);

    /* Padding */
    padding: 
        var(--bt-component-button-primary-padding-vertical) 
        var(--bt-component-button-primary-padding-horizontal)
    ;

    /* Static */
    font-family: 'Bitter', serif;
    border-style: solid;
    cursor: pointer;
    
}