/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* ? Import Bifrost Tokens, CSS variables */
@import url("../../node_modules/@bifrost-ds/bifrosttokens/build/web/css/variables.css");
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

:root {

  /* * Primary Colors */
  --ifm-color-primary: var(--bt-color-secondary-green-a-100);
  --ifm-color-primary-dark:var(--bt-color-secondary-green-a-120);
  --ifm-color-primary-darker: var(--bt-color-secondary-green-a-160);
  --ifm-color-primary-darkest: var(--bt-color-secondary-green-a-190);
  --ifm-color-primary-light: var(--bt-color-secondary-green-a-70);
  --ifm-color-primary-lighter: var(--bt-color-secondary-green-a-40);
  --ifm-color-primary-lightest: var(--bt-color-secondary-green-a-10);

  /* Font*/
  --ifm-code-font-size: 95%;
  --ifm-font-family-monospace: 'Roboto Mono', monospace;
  --ifm-font-family-base: 'Bitter', serif;
  --ifm-font-size-base: 100%;
  --ifm-font-weight-light: 300;
  --ifm-font-weight-normal: 400;
  --ifm-font-weight-semibold: 600;
  --ifm-font-weight-bold: 700;
  --ifm-font-weight-base: var(--ifm-font-weight-normal);

  /* Footer */
  --ifm-footer-background-color: var(--bt-color-primary-prim-a-190);

}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}


html[data-theme='dark'] {

  /* Background color */
  --ifm-background-color: var(--bt-color-primary-prim-a-180);
  --ifm-background-surface-color: var(--bt-color-primary-prim-a-160);
    
  /* Footer */
    --ifm-footer-background-color: var(--bt-color-primary-prim-a-190);
  
}

.header-bitbucket-link {
  /* border: 1px solid red; */
  width: 25px;
  height: 25px;
  padding: 10px;
  margin-right: 15px;
  background-image: url('../../static/svg/bitbucket-icon.svg');
  background-size: 100% 100%;

}